
/* NAVIGATION CONTROLS */
 #nav-functions {
    position: fixed;
    bottom: -80px;

    height: 100px;
    background: white;
    border: 5px solid grey;
    border-top: transparent;
    border-radius: 10px;
    width: 50%;
    margin-left: 25%;
    z-index: 50;

    /* ANIMATION */
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
}

nav {
	width: 80%;
    height: 100%;
    margin: auto;
    position: relative;
    top: 0; left: 0; bottom: 0; right: 0;
}

#nav-functions:hover {
    bottom:10;
    /*on mouse over, we bring back its position*/
}

.nav-guide {
    top: 0;
    width: 100%;
    height: 30px;
    float: top;
    
    vertical-align: top;
    background: grey;
    border: transparent;
    border-top-right-radius: 5px; 
    border-top-left-radius: 5px;
}

.nav-button {
	position: relative;
	padding: 5px;
	height: 100%;
	width: 20%;
    float: left;
    margin-right: auto;
    margin-left: auto;
}

.nav-button:hover {
    cursor: pointer;
}

.nav-button-image{
	position: absolute;
	width: 30%;
	left: 0;
	vertical-align: middle;
}

.nav-image {
	display: block;
	margin-right: auto;
	margin-left: auto;
	vertical-align: middle;
}
.nav-button-text{
	position: absolute;
	text-align: left;
	width: 69%;
	right: 0;
	vertical-align: middle;
}
/*.left {
    float:left;
}*/
