<div class="col-100 push-left">

    <div id="header" class="text-center">
        <h1 class="header-title">
            Lorem <i>Ipsum</i>
        </h1>
    </div>

    <!-- LEFT SECTION -->
    <section-splitter direction="'left'" content="vm.content.left" class="section-splitter-2">
    </section-splitter>

    <!-- RIGHT SECTION -->
    <section-splitter direction="'right'" content="vm.content.right" class="section-splitter-2">
    </section-splitter>

    <!--<loader></loader>-->

    <!-- NAVIGATION-->
    <navigation></navigation>

</div>